@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

header {
    min-height: 200px;
    margin-bottom: 20px;
    background-color: #e5e5e5;
}

header section.logo {
    padding-top: 3em;
    margin-bottom: 1em;
    margin-left: -12px;
}

header .app-name {
    padding-top: 4.4em;
    font-family: 'Oswald', sans-serif;
}

header .app-name > h1 {
    font-size: 70px;
    font-weight: lighter;
}

header .app-name > h2 {
    margin-top: -0.5em;
    font-size: larger;
    font-weight: bolder;
}

header section.subheader {
    min-height: 75px;
    background-color: #283333;
}

header section.subheader .subheader-title {
    padding-top: 0.6em;
    text-transform: uppercase;
    color: #fdc900;
    font-family: 'Oswald', sans-serif;
}


header section.subheader h6.subheader-title {
    padding-top: 1.2em;
    color: #c6c8ca;
    text-transform: none;
}

header section.subheader #menu-lateral a.nav-link {
    color: whitesmoke;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

header section.subheader a.nav-link.logout {
    background-color: #5a6268;
}

.custom-link:hover {
    background-color: #5a6268;
    color: snow;
}

.custom-link a:hover {
    color: white;
}

.custom-link-total {
    color: brown;
}

.custom-link-total:hover {
    color: #990000;
}

header section.subheader a.nav-link.logout:hover {
    background-color: #990000;
}

header section.subheader-pesquisa {
    min-height: 50px;
    background-color: #8B9EA5;
}

header section.subheader-pesquisa h6.subheader-title {
    padding-top: 11px;
    margin-right: 6px;
    color: darkred;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

a.nav-link.active {
    color: #990000;
}

a.nav-link {
    color: #283333;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.breadcrumb {
    background-color: #e5e5e5;
    border-radius: 0px 0px 0px 0px;
    border: none;
}

.breadcrumb-item > a{
    color: #283333;
}

.breadcrumb-item.active {
    color: #990000;
}

.custom-box {
    background-color: #e5e5e5; 
    border-radius: 0px 0px 0px 0px;
    border: none;
}

.custom-red {
    color: #990000;
}

span.custom-red {
    margin-left: 5px;
}

.bg-custom-red {
    background-color: #990000;
    color: whitesmoke;
}

.card-header.bg-custom-red {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.bg-custom-yellow {
    background-color: #fdc900;
    color: black;
}

.card-header.bg-custom-yellow {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.bg-custom-blue {
    background-color: #283333;
    color: whitesmoke;
}

.card-header.bg-custom-blue {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.page-title {
    text-transform: uppercase;
    color: #990000;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.form-control:focus {
    border-color: none;
    box-shadow: none;
}

.front-title {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.publication {
    margin-top: 20px;
}

.publication:hover {
    background-color: #e5e5e5
}

.publication li {
    list-style: none;
}

.publication .publication-title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.publication .publication-author {
    font-family: 'Oswald', sans-serif;
    color: #990000;
    font-weight: 400;
}

#publication-info {
    color: #283333;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.badge-danger {
    background-color: #990000;
}

#publication-summary > p {
    text-align: justify;
    text-justify: inter-word;
}

#publication-summary > b {
    color: #283333;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

#publication-info a:hover {
    color: white;
}

#main-content {
    min-height: 320px;
}

table button.btn-danger {
    background-color: #990000;
}

table button.btn-warning {
    background-color: #fdc900;
}

ul.lista {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

ul.lista li {
    list-style: none;
}

ul.lista li a {
    color: black;
}

footer {
    min-height: 15px;
    margin-top: 20px;
    background-color: #283333;
}